* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;  
    background-image: url("https://i.imgflip.com/79xfh8.jpg");

}
nav {
    height: 100px;
    position: sticky;
    top: 0;
    background-color: rgb(132, 161, 156);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header {
    
}

a {
    text-decoration: none;
}
footer {
    background-color: rgb(44, 41, 41);
    width: 100%;
    min-height: 200px;
    text-align: center;
    padding: 50px;
}

/*CLASSES*/
.footer-text {
    color: rgb(224, 221, 221);
    font-size: 50px;
}
.navBtn {
   box-shadow: 6px 6px 1px rgb(4, 61, 4);
    border: 4px rgb(68, 85, 51) solid;
    background-color: rgb(100, 123, 77);
    height: 40px;
    width: 100px;
    color: rgb(234, 224, 224);
    cursor: pointer;
    margin: 20px 10px;
}
.navBtn:active {
    box-shadow: 3px 3px 1px rgb(4, 61, 4);
}
.milkSvg {
    width: 70px;
}
.headingTop {
    margin-left: 200px;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}